

<div class="header">
  <nav class="home_navbar">
    <a href="/static_pages/home/">Home</a> |
    <a href="/static_pages/welcome/">Welcome</a> |
    <a href="/static_pages/about/">About</a>
  </nav>
</div>
<div class="main">
  <div class="spain">
    <%= link_to "Spain", {:controller => "static_pages", :action => "welcome"}, :class => "store-btn" %>
  </div>
  <div class="ireland">
    <%= link_to "Ireland", {:controller => "static_pages", :action => "welcome"}, :class => "store-btn" %>
  </div>
  <div class="italy">
    <%= link_to "Italy", {:controller => "static_pages", :action => "welcome"}, :class => "store-btn" %>
  </div>
  <div class="peru">
    <%= link_to "Peru", {:controller => "static_pages", :action => "welcome"}, :class => "store-btn" %>
  </div>
</div>

<div class="footer">
  <nav class="home_navbar">
    <ul>
      <li>&copy; 2016 JourneyStore.com</li>
    </ul>
  </nav>
</div>


<!-- <div class="footer">
  <footer>This is my footer</footer>
</div> -->


<!-- .spain {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/5mm9RJ");
  border: white 2px solid;
}

.ireland {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/T1RhWx");
  border: white 2px solid;
}

.peru {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/99eS5P");
  border: white 2px solid;
}

.italy {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/ywM6GJ");
  border: white 2px solid;
} -->
