

<div class="header">
  <header>This is my header</>
</div>
<div class="main">
  <div class="spain">
    <%= image_tag("church.png") %>
  </div>
  <div class="ireland">
    <%= image_tag("cliffs.png") %>
  </div><br>
  <div class="italy">
    <%= image_tag("trevi.png") %>
  </div>
  <div class="peru">
    <%= image_tag("machu.png") %>
  </div>
</div>
<div class="footer">
  <footer>This is my footer</footer>
</div>
