

<div class="header">
  <nav class="home_navbar">
    <a href="/static_pages/home/">Home</a> |
    <a href="/static_pages/welcome/">Welcome</a> |
    <a href="/static_pages/about/">About</a>
  </nav>
</div>
<div class="main">
  <div class="spain">
    <h2>Spain</h2>
  </div>
  <div class="ireland">
    <h2>Ireland</h2>
  </div>
  <div class="italy">
    <h2>Italy</h2>
  </div>
  <div class="peru">
    <h2>Peru</h2>
  </div>
</div>
<!-- <div class="footer">
  <footer>This is my footer</footer>
</div> -->


<!-- .spain {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/5mm9RJ");
  border: white 2px solid;
}

.ireland {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/T1RhWx");
  border: white 2px solid;
}

.peru {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/99eS5P");
  border: white 2px solid;
}

.italy {
  height: 60%;
  width: 60%;
  background-image: url("https://goo.gl/ywM6GJ");
  border: white 2px solid;
} -->
