/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*this is all of the welcome page css*/
.container {

  background-image: url(plane2.jpg);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
  on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #464646;
}

  a.welcome-btn {
    font-size: 40px;
    font-weight: bold;
    color: black;
    display: block;
    border: white 3px solid;
    padding: 20px 12px 24px 12px;
    text-decoration: none;
    position: absolute;
    left: 28%;
    top: 50%;
    /*20px 12px 24px 12px;*/
    /*these bottom two allow the background of the button to have an opacity of white making the wording easier to see*/
    background-color: white;
    opacity: 0.6;
}

  a.welcome-btn:hover {
    background:gray;
}

.navbar {
  color: white;
  float: right;
  margin-right: 2%;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:first-child {
    border: white 1px solid;
    padding: 2px 4px 2px 4px;
}

/*this is where the home page css starts*/

.header {
  height: 20%;
  width: 100%;
  border-bottom: grey 2px;
}

.home_navbar a {
  text-decoration: none;
}

.home_navbar a:first-child {
    border: black 1px solid;
    padding: 2px 4px 2px 4px;
}

.main {
  height: 100vh;
}

.main > div {
  height: 50vh;
  width: 50vw;
  background-size: cover;


}

.header {
  margin-bottom: 2%;
}

a.store-btn {
  font-size: 30px;
  font-weight: bold;
  color: black;
  display: inline;
  border: white 3px solid;
  padding: 20px 16px 24px 16px;
  text-decoration: none;
  position: relative;
  left: 40%;
  top: 50%;
  /*these bottom two allow the background of the button to have an opacity of white making the wording easier to see*/
  background-color: white;
  opacity: 0.6;
}

a.store-btn:hover {
  background:gray;
}

.spain {
  background-image: url("https://goo.gl/5mm9RJ");
  background-repeat: no-repeat;
  float: right;
}

.ireland {
  background-image: url("https://goo.gl/T1RhWx");
  background-repeat: no-repeat;
  float:right;
}

.italy {
  background-image: url("https://goo.gl/ywM6GJ");
  background-repeat: no-repeat;
}

.peru {
  background-image: url("https://goo.gl/99eS5P");
  background-repeat: no-repeat;
}

 .footer .home_navbar ul li {
  list-style: none;
}
